---
import Section from "components/Section/Section.astro";
import GlowCard from "components/Card/GlowCard.astro";
---

<Section extraClass="h-screen relative" id="404">
  <GlowCard type={3} name="hero">
    <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
      Error 404
    </h1>

    <h2 class="text-4xl md:text-4xl text-center font-bold m-0 mb-4">
      Page not found
    </h2>

    <span class="text-center text-3xl md:text-3xl md:max-w-5xl">
      The page you are looking for does not exist. Please check the URL or go.
    </span>
  </GlowCard>
</Section>
