---
import Section from "@/components/Section/Section.astro";
import GlowCard from "@/components/Card/GlowCard.astro";
import LinkButton from "@/components/Links/LinkButton.astro";
---

<Section extraClass="h-screen relative" id="404">
  <GlowCard name="hero">
    <h1 class="text-4xl md:text-7xl text-center font-bold m-0 mb-4">
      Error 404
    </h1>

    <h2 class="text-2xl md:text-4xl text-center font-bold m-0 mb-4">
      Page not found
    </h2>

    <span class="text-center text-lg md:text-3xl md:max-w-5xl mb-6">
      The page you are looking for does not exist. Please check the URL or go
      back to the homepage.
    </span>
    <LinkButton href="/" ariaLabel="Go back to the homepage">Go home</LinkButton>
  </GlowCard>
</Section>
