---
import Section from "components/Section/Section.astro";
import GlowCard from "components/Card/GlowCard.astro";
---

<Section id="portfolio" extraClass="text-mine-shaft-100">
  <GlowCard type={3}>
    <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
      My Projects
    </h1>

    <span class="text-center text-3xl md:text-3xl">
      Here are some of the projects I have worked on.
    </span>
  </GlowCard>
</Section>
