---
import Section from "components/Section/Section.astro";
import LinkButton from "components/Links/LinkButton.astro";
import { Image } from "astro:assets";
import profileImg from "@/assets/profile.webp";
---

<Section title="About me" id="about">
  <div class="w-full flex-center-center flex-wrap mt-7">
    <Image
      src={profileImg}
      alt="profile"
      class="rounded-md size-64 md:mr-20 object-cover aspect-square"
      widths={[240, 540, 720, profileImg.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${profileImg.width}px`}
    />

    <div class="flex flex-col justify-center items-start m-10 md:m-0 md:ml-20">
      <p class="w-full max-w-xl mb-5">
        I'm a programmer and web developer with problem-solving skills,
        imaginative, and curious. I have experience as a Full Stack Developer at
        Dequo.
      </p>
      <p class="w-full max-w-lg mb-5">
        I'm a software engineer from Argentina. I'm passionate about web
        development, and open source.
      </p>
      <div class="flex space-x-4">
        <LinkButton
          href="./curriculum/Curriculum_Agustin_Arenas.pdf"
          targetBlank={true}>Download CV</LinkButton
        >
        <LinkButton href="/about">Read more</LinkButton>
      </div>
    </div>
  </div>
</Section>
