---
import ContactIcon from "components/Icons/ContactIcon.astro";
import MobileIcon from "components/Icons/MobileIcon.astro";
import Link from "components/Links/Link.astro";
import Section from "components/Section/Section.astro";
---

<Section title="Contact" id="contact">
  <div class="flex justify-center items-stretch flex-wrap p-4 md:space-x-9">
    <div class="flex flex-col justify-center items-center">
      <div
        class="p-2 relative transition-all duration-400 place-item-center *:size-10 md:*:size-9 *:stroke-2 *:transition-all *:duration-400 rounded-md hover:text-tradewind-500 hover:bg-mine-shaft-300/40 dark:hover:bg-mine-shaft-700/40"
        aria-label="Email contact"
        role="img"
      >
        <ContactIcon />
      </div>
      <Link
        href="mailto:arenasagustin7@gmail.com"
        ariaLabel="Send email to Agustín Arenas">arenasagustin7@gmail.com</Link
      >
    </div>

    <div class="flex-center-center flex-col">
      <div
        class="p-2 relative transition-all duration-400 place-item-center *:size-10 md:*:size-9 *:stroke-2 *:transition-all *:duration-400 rounded-md hover:text-tradewind-500 hover:bg-mine-shaft-300/40 dark:hover:bg-mine-shaft-700/40"
        aria-label="WhatsApp contact"
        role="img"
      >
        <MobileIcon />
      </div>
      <Link
        href="https://api.whatsapp.com/send/?phone=5493517738914"
        ariaLabel="Contact via WhatsApp"
        targetBlank={true}
      >
        +54 9 351-7738914
      </Link>
    </div>
  </div>
</Section>
