---
import ContactLink from "components/Links/ContactLink.astro";
import GithubLink from "components/Links/GithubLink.astro";
import LinkedinLink from "components/Links/LinkedinLink.astro";
// import CvLink from "components/Links/CvLink.astro";
import Section from "components/Section/Section.astro";
import GlowCard from "components/Card/GlowCard.astro";
---

<Section extraClass="h-screen z-10 text-mine-shaft-100 " id="introduction">
  <GlowCard>
    <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
      Hi, I'm Agustín Arenas
    </h1>
    <p class="text-2xl">Software Developer</p>

    <div class="flex-center-center">
      <GithubLink />

      <LinkedinLink />

      <ContactLink />

      <!-- <CvLink /> -->
    </div>
  </GlowCard>
</Section>
