---
import Section from "components/Section/Section.astro";
---

<Section title="Projects" id="projects">
  <p>
    To get started, open the <code>src/pages/index.astro</code> file and start editing.
    You can also add new pages in the <code>src/pages</code> directory.
  </p>
</Section>
