public-hoist-pattern[]=
shamefully-hoist=true
strict-peer-dependencies=false

# Force resolution of fast-uri to patched version
resolution-mode[fast-uri]=highest
resolution[fast-uri]=3.1.2

# Force resolution of yaml to patched version
resolution[ymal]=2.8.3
