<button
  class="p-1 relative transition-all duration-400 *:transition-all *:duration-400 rounded-md hover:text-tradewind-500 hover:bg-mine-shaft-100/60 dark:hover:bg-mine-shaft-400/30 hover:rotate-45 *:hover:rotate-[-45deg]"
>
  <slot />
</button>
