@tailwind base;
@tailwind components;

@layer components {
  :root {
    --color-html: #f16529;

    --color-css: #2965f1;
    --color-sass: #c6538c;
    --color-tailwind: #06b6d4;
    --color-bootstrap: #7952b3;

    --color-js: #f1db29;
    --color-ts: #3178c6;
    --color-php: #8892be;
    --color-node: #8cc84b;

    --color-react: #61dafb;
    --color-next: #818181;
    --color-laravel: #ff2d20;

    --color-mongodb: #4db33d;
    --color-mariadb: #003545;
    --color-postgres: #336791;

    --color-svg: var(--color-html);
  }

  .color-skill:hover {
    & svg {
      color: var(--color-html);
    }

    & svg.html {
      color: var(--color-html);
    }

    & svg.css {
      color: var(--color-css);
    }

    & svg.sass {
      color: var(--color-sass);
    }

    & svg.tailwind {
      color: var(--color-tailwind);
    }

    & svg.bootstrap {
      color: var(--color-bootstrap);
    }

    & svg.js {
      color: var(--color-js);
    }

    & svg.ts {
      color: var(--color-ts);
    }

    & svg.php {
      color: var(--color-php);
    }

    & svg.node {
      color: var(--color-node);
    }

    & svg.react {
      color: var(--color-react);
    }

    & svg.next {
      color: var(--color-next);
    }

    & svg.laravel {
      color: var(--color-laravel);
    }

    & svg.mongodb {
      color: var(--color-mongodb);
    }

    & svg.mariadb {
      color: var(--color-mariadb);
    }

    & svg.postgresql {
      color: var(--color-postgres);
    }
  }

  .shadow-inset {
    box-shadow: 0 0 #0000, 0 0 #0000, inset 2px 2px 40px -20px #6b7280;
  }
}

.flex-center-center {
  @apply flex items-center justify-center;
}

.shadow-box-inset {
  @apply relative before:absolute before:inset-0 before:rounded-lg before:opacity-0 before:shadow-inset before:transition-opacity before:duration-500 hover:before:opacity-100;
}

.text-img {
  @apply p-3 m-3 rounded-lg bg-mine-shaft-800/70 text-mine-shaft-50/100;
}

.glow-bg-xl {
  @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none;
}

.glow-bg-md {
  @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none;
}

.glow-after {
  @apply after:content-[''] after:absolute after:z-[-2] after:top-[-10%] after:left-1/2 after:translate-x-[-45%];
  @apply after:w-full after:md:w-2/3 after:h-[120%] after:rounded-lg;
  @apply after:transition-all after:ease-in after:duration-200 hover:after:skew-x-0;
  @apply after:blur-2xl after:bg-gradient-to-br after:via-tradewind-500;
}

.glow-before {
  @apply before:content-[''] before:absolute before:z-[-1] before:top-[-10%] before:left-1/2 before:-translate-x-1/2;
  @apply before:w-full before:md:w-2/3 before:h-[120%] before:rounded-lg;
  @apply before:transition-all before:ease-in before:duration-200 hover:before:skew-x-0;
  @apply before:bg-gradient-to-br before:via-tradewind-500;
}

.scrollbar::-webkit-scrollbar {
  @apply w-4 w-4;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-mine-shaft-300 dark:bg-mine-shaft-800;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-mine-shaft-400 rounded-full border-2 border-solid border-mine-shaft-300 dark:bg-mine-shaft-600 dark:border-mine-shaft-800;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-mine-shaft-500 dark:bg-mine-shaft-500;
}
