@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-*: initial;
  --color-tradewind-50: #ffffff;
  --color-tradewind-100: #eafbfa;
  --color-tradewind-200: #baf2ef;
  --color-tradewind-300: #83e2e0;
  --color-tradewind-400: #43c4c7;
  --color-tradewind-500: #29bcc2;
  --color-tradewind-600: #209ba2;
  --color-tradewind-700: #1f7d84;
  --color-tradewind-800: #1f6b70;
  --color-tradewind-900: #205b60;
  --color-tradewind-950: #0d3e45;

  --color-mine-shaft-50: #f6f6f6;
  --color-mine-shaft-100: #e7e7e7;
  --color-mine-shaft-200: #d1d1d1;
  --color-mine-shaft-300: #b0b0b0;
  --color-mine-shaft-400: #888888;
  --color-mine-shaft-500: #6d6d6d;
  --color-mine-shaft-600: #5d5d5d;
  --color-mine-shaft-700: #4f4f4f;
  --color-mine-shaft-800: #454545;
  --color-mine-shaft-900: #333333;
  --color-mine-shaft-950: #262626;

  --font-*: initial;
  --font-junction: Junction, sans-serif;

  --animate-*: initial;
  --animate-scroll: scroll 1s ease-in-out infinite;

  @keyframes scroll {
    0% {
      transform: translate(-50%, 0);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, 300%);
      opacity: 0.1;
    }
  }
}

@utility color-skill {
  &:hover {
    & svg {
      color: var(--color-html);
    }

    & svg.html {
      color: var(--color-html);
    }

    & svg.css {
      color: var(--color-css);
    }

    & svg.sass {
      color: var(--color-sass);
    }

    & svg.less {
      color: var(--color-less);
    }

    & svg.tailwind {
      color: var(--color-tailwind);
    }

    & svg.bootstrap {
      color: var(--color-bootstrap);
    }

    & svg.js {
      color: var(--color-js);
    }

    & svg.ts {
      color: var(--color-ts);
    }

    & svg.jquery {
      color: var(--color-jquery);
    }

    & svg.php {
      color: var(--color-php);
    }

    & svg.node {
      color: var(--color-node);
    }

    & svg.react {
      color: var(--color-react);
    }

    & svg.next {
      color: var(--color-next);
    }

    & svg.laravel {
      color: var(--color-laravel);
    }

    & svg.express {
      color: var(--color-express);
    }

    & svg.sequelize {
      color: var(--color-sequelize);
    }

    & svg.mongodb {
      color: var(--color-mongodb);
    }

    & svg.mariadb {
      color: var(--color-mariadb);
    }

    & svg.mysql {
      color: var(--color-mysql);
    }

    & svg.postgresql {
      color: var(--color-postgres);
    }
  }
}

@utility shadow-inset {
  box-shadow: 0 0 #0000, 0 0 #0000, inset 2px 2px 40px -20px #6b7280;
}

@layer components {
  :root {
    --color-html: #e44d26;

    --color-css: #1572b6;
    --color-sass: #cb6699;
    --color-less: #2a4d80;
    --color-tailwind: #38bdf8;
    --color-bootstrap: #712cf9;

    --color-js: #f0db4f;
    --color-ts: #007acc;
    --color-jquery: #0868ac;
    --color-php: #777bb3;
    --color-node: #5fa04e;

    --color-react: #61dafb;
    --color-next: #818181;
    --color-laravel: #f0513f;

    --color-express: #818181;
    --color-sequelize: #2f406a;

    --color-mongodb: #4faa41;
    --color-mariadb: #003545;
    --color-mysql: #00618a;
    --color-postgres: #336791;

    --color-svg: var(--color-html);
  }
}

.flex-center-center {
  @apply flex items-center justify-center;
}

.shadow-box-inset {
  @apply relative before:absolute before:inset-0 before:rounded-lg before:opacity-0 before:shadow-inset before:transition-opacity before:duration-500 hover:before:opacity-100;
}

.text-img {
  @apply p-3 m-3 rounded-lg bg-mine-shaft-800/70 text-mine-shaft-50;
}

.glow-bg-xl {
  @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none;
}

.glow-bg-md {
  @apply bg-clip-padding backdrop-filter backdrop-blur-md bg-mine-shaft-200/60 dark:bg-mine-shaft-950/60 border-none;
}

.glow-after {
  @apply after:content-[''] after:absolute after:z-[-2] after:top-[-10%] after:left-1/2 after:translate-x-[-45%];
  @apply after:w-full md:after:w-2/3 after:h-[120%] after:rounded-lg;
  @apply after:transition-all after:ease-in after:duration-200 hover:after:skew-x-0;
  @apply after:blur-2xl after:bg-linear-to-br after:via-tradewind-500;
}

.glow-before {
  @apply before:content-[''] before:absolute before:z-[-1] before:top-[-10%] before:left-1/2 before:-translate-x-1/2;
  @apply before:w-full md:before:w-2/3 before:h-[120%] before:rounded-lg;
  @apply before:transition-all before:ease-in before:duration-200 hover:before:skew-x-0;
  @apply before:bg-linear-to-br before:via-tradewind-500;
}

.scrollbar::-webkit-scrollbar {
  @apply w-4;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-mine-shaft-300;
}

:is(.dark *) .scrollbar::-webkit-scrollbar-track {
  @apply bg-mine-shaft-800;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-mine-shaft-400 rounded-full border-2 border-solid border-mine-shaft-300;
}

:is(.dark *) .scrollbar::-webkit-scrollbar-thumb {
  @apply bg-mine-shaft-600 border-mine-shaft-800;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-mine-shaft-500;
}
