---
interface Props {
  href: string;
  extraClass?: string;
  underlined?: boolean;
  targetBlank?: boolean;
  active?: boolean;
}

const {
  href,
  extraClass = "",
  underlined = false,
  targetBlank = false,
  active = false,
} = Astro.props;
---

<a
  href={href}
  class:list={[
    `text-xl mx-2 md:mx-6 my-3 ${extraClass}`,
    {
      "relative after:absolute after:h-[2px] after:bottom-[-2px] after:left-0 after:bg-mine-shaft-900 dark:after:bg-mine-shaft-50 hover:after:w-full":
        underlined && !active,
    },
    {
      "relative after:absolute after:h-[2px] after:bottom-[-2px] after:left-0 after:bg-mine-shaft-900 dark:after:bg-mine-shaft-50 after:w-full":
        underlined && active,
    },
  ]}
  target={targetBlank ? "_blank" : undefined}
  rel={targetBlank ? "noopener noreferrer nofollow" : undefined}
>
  <slot />
</a>
