---
const { href, extraClass } = Astro.props;
---

<a
  href={href}
  class={`text-lg mx-6 my-3 relative after:absolute after:h-[2px] after:bottom-[-1px] after:left-0 after:bg-white-50 hover:after:w-full ${extraClass}`}
>
  <slot />
</a>
