---
import Link from "./Link.astro";

interface Props {
  href: string;
  ariaLabel?: string;
  targetBlank?: boolean;
}

const { href, ariaLabel, targetBlank = true } = Astro.props;
---

<Link href={href} targetBlank={targetBlank}>
  <div
    class="p-1 relative transition-all duration-400 place-item-center *:size-10 md:*:size-9 *:stroke-2 *:transition-all *:duration-400 rounded-md hover:text-tradewind-500 hover:bg-mine-shaft-400/30"
    aria-label={ariaLabel}
  >
    <slot />
  </div>
</Link>
