---
import Link from "./Link.astro";

interface Props {
  href: string;
  ariaLabel?: string;
  targetBlank?: boolean;
}

const { href, ariaLabel, targetBlank = true } = Astro.props;
---

<Link href={href} targetBlank={targetBlank} ariaLabel={ariaLabel}>
  <div
    class="p-3 md:p-2 relative transition-all duration-400 place-items-center *:size-11 md:*:size-9 *:stroke-2 *:transition-all *:duration-400 rounded-md hover:text-tradewind-500 hover:bg-mine-shaft-300/40 dark:hover:bg-mine-shaft-700/40 hover:rotate-45 hover:*:-rotate-45 min-h-11 min-w-11"
    role="img"
  >
    <slot />
  </div>
</Link>
