---
import Section from "components/Section/Section.astro";
// import LinkButton from "components/Links/LinkButton.astro";
import GlowCard from "components/Card/GlowCard.astro";
---

<Section id="about" extraClass="text-mine-shaft-100 mt-12">
  <GlowCard type={2} name="hero">
    <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
      About me
    </h1>

    <span class="text-center text-3xl md:text-3xl md:max-w-5xl">
      I'm a software engineer from Argentina. I'm passionate about web
      development, and open source.
    </span>

    <!-- <LinkButton
        href=""
        targetBlank={true}
        extraClass="text-mine-shaft-900 dark:text-mine-shaft-100 mt-6"
      >
        Download CV
      </LinkButton> -->
  </GlowCard>
</Section>
