---
import SectionMiddle from "components/Section/SectionMiddle.astro";
import SmallCard from "components/Card/SmallCard.astro";
import GlowCard from "components/Card/GlowCard.astro";
import { works, type Work } from "@/constants/works";
---

<SectionMiddle extraClass="bg-bunker" id="work" slotFirst="slot1">
  <GlowCard type={4} slot="slot1">
    <h2 class="text-4xl text-center md:text-5xl font-bold m-8">
      Work experience
    </h2>
  </GlowCard>

  <div slot="slot2" class="flex-center-center flex-col w-full p-5">
    {
      works.map((work: Work) => (
        <SmallCard
          title={work.title}
          subtitle={work.subtitle}
          description={work.description}
          time={work.time}
        />
      ))
    }
  </div>
</SectionMiddle>
