---
import Layout from "@/layouts/Layout.astro";
import Section from "components/Section/Section.astro";
---

<Layout title="Agustín Arenas | Contact me">
  <Section id="contact" extraClass="text-mine-shaft-100">
    <div class="text-img flex-center-center flex-col">
      <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
        Contact
      </h1>
    </div>

    <div class="absolute top-0 left-0 w-full h-full z-[-1]"></div>
  </Section>
</Layout>
