---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section/Section.astro";
import { Image } from "astro:assets";
import contactImg from "../assets/contact.webp";
---

<Layout title="Agustin Arenas | Contact me">
  <Section id="contact" extraClass="text-mine-shaft-100">
    <div class="text-img flex-center-center flex-col">
      <h1 class="text-5xl md:text-7xl text-center font-bold m-0 mb-4">
        Contact
      </h1>
    </div>

    <div class="absolute top-0 left-0 w-full h-full z-[-1]">
      <Image
        src={contactImg}
        alt="Work"
        class="w-full h-full object-cover"
        widths={[540, 720, contactImg.width]}
        sizes={`(max-width: 360px) 540px, (max-width: 720px) 720px, ${contactImg.width}px`}
      />
    </div>
  </Section>
</Layout>
