---
import LinkIcon from "components/Links/LinkIcon.astro";
import LinkedinIcon from "components/Icons/LinkedinIcon.astro";
import GithubIcon from "components/Icons/GithubIcon.astro";
import ContactIcon from "components/Icons/ContactIcon.astro";
import CvIcon from "components/Icons/CvIcon.astro";
---

<footer class="w-full p-4 flex justify-center items-center flex-col">
  <div class="flex-center-center">
    <LinkIcon ariaLabel="Github">
      <GithubIcon />
    </LinkIcon>

    <LinkIcon ariaLabel="Linkedin">
      <LinkedinIcon />
    </LinkIcon>

    <LinkIcon ariaLabel="Contact">
      <ContactIcon />
    </LinkIcon>

    <LinkIcon ariaLabel="Cv">
      <CvIcon />
    </LinkIcon>
  </div>

  <hr class="w-5/6 md:w-3/5 max-w-(--breakpoint-xl) my-2 text-bunker-800" />

  <p class="text-center text-xs text-white">© 2024 Agustín Arenas</p>
</footer>
