---
const { id, title, extraClass } = Astro.props;
---

<section
  id={id}
  class={`flex justify-center items-center flex-col py-16 w-full z-10 relative ${extraClass}`}
>
  <h2 class="text-5xl font-bold text-center">{title}</h2>
  <slot />
</section>
