---
import Section from "./Section.astro";

interface Props {
  title?: string;
  id: string;
  extraClass?: string;
  slotFirst?: string;
}

const { id, title, extraClass, slotFirst } = Astro.props;
---

<Section id={id} title={title} extraClass={extraClass} padding="pt-12">
  <div
    class={`flex-center-center flex-col md:flex-row w-full md:w-1/2 h-full relative ${slotFirst === "slot1" ? "max-h-[250px] md:max-h-none" : "min-h-[354px]"}`}
  >
    <slot name="slot1" />
  </div>

  <div
    class={`flex-center-center flex-col md:flex-row w-full md:w-1/2 h-full relative ${slotFirst === "slot2" ? "max-h-[250px] md:max-h-none" : "min-h-[354px]"} ${slotFirst === "slot2" ? "order-first md:order-last" : ""}`}
  >
    <slot name="slot2" />
  </div>
</Section>
