---
const { id, title, extraClass, direction = "col" } = Astro.props;
---

<section
  id={id}
  class={`flex justify-center items-center py-16 w-full z-10 relative text-xl ${direction === "col" ? "flex-col" : "flex-row"} ${extraClass}`}
>
  {title && <h2 class="text-5xl font-bold text-center">{title}</h2>}
  <slot />
</section>
