<!DOCTYPE html>
<astro:root>
  <astro:head>
    <title>Button Component</title>
  </astro:head>
  <astro:body>
    <Button variant="primary" href="/">Contáctame</Button>
  </astro:body>
</astro:root>
